*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat_en;
    src: url(../fonts/montserrat-en/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat_ar;
    src: url(../fonts/montserrat-ar/Montserrat-Arabic\ Regular\ 400.otf);
}


html{
    overflow-x: hidden!important;
}

body {
    font-family: montserrat_en;
    position: relative;
    width: 100%;
    overflow-x: hidden!important;
}


   /* Grouping */
:root{
    --basicColor: #7D25F5;  
    --blackColor: black;  
    --weightColor: #fff;
    --grayColor: gray;
 }

 .clr_basic{
    color: var(--basicColor);
 }

 .bg_basic{
    font-family: montserrat_en;
    background-color: var(--basicColor);
    color: var(--weightColor);
    letter-spacing: .8px;
 }


 .rootMain{
    width: 95vw;
 }
 
button:focus, input:focus{
    outline: none!important
}

ul{
    list-style: none;
}

select{
    border: none;
    outline: none;
    cursor: pointer;
}

select option{
    padding: 15px;
}

a , a:focus , a:hover{
   text-decoration: none;
   transition: 0.5s;
}

.ml_11{
    margin-left: 11px;
}

.navbar-toggler:focus , select , input , .accordion-button{
    box-shadow: none!important;
}



.pointr_cursor{
    cursor: pointer;
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1100px;
}
}
/* =================================== */
/* =================================== */ 
    /*Btn Direction  */
    .btn_direction{
        display: none;
        width: 42px;
        height: 42px;
        background-color: var(--basicColor);
        color: var(--weightColor);
        text-align: center;
        border: 0px;
        border-radius: 10px;
        font-size: 30px;
        position: absolute;
        right: 30px;
        bottom: 100px;
        position: fixed;
        cursor: pointer;
        z-index: 9999;
    }

/* ================              =================== */
/* ================  Index Page  =================== */
/* ================              =================== */

/* Navbar Section */
.navbar{
    /* margin: 7px 0; */
    padding-top: 4px!important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0!important;
    padding-left: 0!important;
}

.nav-item{
    width: max-content;
    margin: 0 22px;
}

.nav-item a{
    color: #100F0F!important;
    /* font-family: mongolian; */
}

.nav-item , .nav-item a , .nav-item button { 
  font-size: 18px;
}


.language-selection select{
    width: 80px!important;
    border: 0!important;
}

.btn_nav{
 transition: all .4s ease-in-out;
}

.btn_nav:hover{
    color: var(--basicColor)!important;
   border: 1px solid var(--basicColor)!important;
}

@media (min-width:320px) and (max-width:768px) {
      .navbar-brand  img {
         display: block!important;
      }
}

/* Language Code */

.custom-dropdown {
    display: inline-block;
    position: relative;
}

.selected-option {
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.language-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.options {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 9998;
}

.options li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.options li:hover {
    background-color: #f0f0f0;
}

/* <!-- Login section -->   */

.form_SignUp  input , .form_SignUp  button , .lbl_checked , .a_to_login , .div_btn_social a , .form_SignUp .form-outline > select , .signUp_sec .form-outline > button span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}

.signUp_sec .form-outline > button{
    text-align: inherit!important;
}

.signUp_sec .form-outline > button span{
    color: #2d2d2d;
    opacity: 0.8!important;
    font-size: 20px;
}

.form-outline .searchCountry{
    border-radius: 0!important;
    box-shadow: none!important;
}

.form-outline .dropdown-menu{
    border: 1px solid var(--basicColor)!important;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px!important;
}

.searchCountry:focus{
  border: 1px solid var(--basicColor);
}

.form_SignUp .form-outline > input , .form_SignUp .form-outline > select , #show_hide_password input , .signUp_sec .form-outline > button{
    padding: 0px 35px 0px 24px!important;
    /* width: 565px; */
    height: 50px;
    color: #2d2d2d;
    font-size: 20px;
    transition:all 0.4s ease-in-out;
    border-radius: 4px!important;
}

.form-outline select{
    opacity: 0.8!important;
}

.forget_pass{
    color: #808080;
    padding-right: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-check-input[type=checkbox]{
    border-radius: 0!important;
}

.form_SignUp .lbl_checked{
    font-size: 16px;
    letter-spacing: -.40px!important;
    color: var(--blackColor);
}

.icon_hidden_pass{
    position: absolute;
    right: 13px;
    top: 12px;
    font-size: 18px;
}

.icon_hidden_pass a{
    color: var(--blackColor);
    opacity: 0.8;
}

.form_SignUp .form-outline > input:focus , #show_hide_password input:focus , .signUp_sec .form-outline > button:focus{
    border-color: var(--blackColor)!important;
    box-shadow: none!important;
}

.div_btn_social a.facebook{
    background-color: #3B5998;
    color: var(--weightColor);
}

.div_btn_social a.google{
    background-color: #fff;
    color: var(--blackColor);
    border: 1px solid #F1584D;
    stroke-width: 1px;
}

.div_btn_social a i {
    font-weight: bold;
    font-size: 21px;
}

.error{
    color: rgb(224, 7, 7);
    margin: 0 !important;
    margin-top: 2px !important;
    padding: 0;
}

.submit_signUp{
    width: 100%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.submit_signUp:hover{
    background-color: var(--weightColor);
    color: var(--basicColor);
    border: 1px solid var(--basicColor);
}

.form-select{
         background-image: none!important;
         padding: 0 0 0 6px!important;
    }

.form-select:focus{
   border: 1px solid var(--blackColor);
}



@media (max-width:320px) {
    .form_SignUp .lbl_checked{
        font-size: 13px!important;
    }

    .privacyPolicy_sec .title_mealType h3{
        font-size: 22px;
    }
}



/* Start Section Loading and Start Section Non Search */
.loading_sec , .nonSearch_sec{
    width: 100vw;
    height: 100vh;
}

select option:checked{
    background-color: var(--basicColor)!important;
    color: var(--weightColor);
}

select option:focus{
    background-color: var(--basicColor)!important;
    color: var(--weightColor);
}

select option:hover{
    background-color: var(--basicColor)!important;
    color: var(--weightColor);
}
select option:disabled{
    background-color: var(--basicColor)!important;
    color: var(--weightColor)!important;
}



@media (min-width:768px) and (max-width:1025px) {
     .search_sec .w_70_1024{
        width: 70%!important;
     }
}



.circle_load_left , .circle_load_right , .circle_load_bottom{
    width: 250px;
    height: 250px;  
    position: fixed;
    background-color: #f1e9fe;
    z-index: 0;
    border-radius: 50%;
}

.circle_load_left {
    top: -135px;
    left: -135px;
}

 .circle_load_right{
    top: 30vh;
    right: -190px;
}

.circle_load_bottom{
   bottom: -135px;
   left: -135px; 
}

.head_nonSearch{
 font-family: montserrat_ar;
 font-weight: bolder;
 letter-spacing: 0.7px;
}

.par_nonSearch{
    color: #100F0F;
    font-family: montserrat_en;
    letter-spacing: 0.7px;
    font-size: 22px;
}

#preloader > img{
    animation: rotateLogo 3s linear infinite;
  }
  
  @keyframes rotateLogo {
    0% {
      transform: rotate(0deg);
    }

    50% {
        transform: rotate(12deg);
    }

    75% {
      transform: rotate(-12deg);
    }
    100% {
        transform: rotate(0deg);
      }
}

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999;
    max-height: 100vh;
}

#preloader .rotate_ico{
    animation: rotate 5s ease-in-out infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media (min-width:769px)  {
    .circle_load_left {
        top: -60px;
        left: -60px;
    }
    
     .circle_load_right{
        top: 30vh;
        right: -60px;
    }
    
    .circle_load_bottom{
       bottom: -100px;
       left: -40px; 
    }
}

@media (min-width:1020px) and (max-width:1081px)  {
    .rootMain{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .bg_header.bg_exper {
        width: 50%!important;
    }
    .mealType__sec .container{
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .ingredientFood_sec .parentCircle .circle_load_border{
        width:480px!important;
        height: 540px!important;
    }
    
    .ingredientFood_sec .parentCircle .circle_load_blue {
        width: 510px!important;
        height: 540px!important;
    }
}

/* Page 404 and 500 */
@media (min-width:600px) {
    .w_media_error_404  img{
        width: 550px!important;
    }
    .w_media_error_500 img{
        width: 400px!important;
    }
}
/* ================              =================== */
/* ================  Home Page  =================== */
/* ================              =================== */

/* <!-- Start Header section =>(Home) -->   */

.bg_header{
    /* width: fit-content;  */
    width: 550px;
    border-radius: 50%;
    background-color: #f6efff;
}

.bg_header_gray{
    border-radius: 50%;
    background-color: #f6efff;
}


.bg_exper{
    background-color: #fff!important;
}

/* .div_img_header{
  width: 100%;
    height: 100%;
    background-image: url(../images/home/header.svg);
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
} */

.title_header{
  font-family: montserrat_ar;
  font-size: 35px;
}

.header_sec .search , footer .search ,  .search_sec .search {
    position: relative;
    box-shadow: 0 3px 8px -4px gray;
    border-radius: 8px;
}

.header_sec .search input , footer .search input , .search_sec .search input{
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    font-family: monospace;
    padding: 20px 165px 15px 23px;
    font-size: 17px;
    transition: all .4s ease-in-out;
}

footer .w_90{
    width: 90%;
}

@media (max-width:555px) {
   footer .div_Add_email .search input{
        margin-bottom: 3px!important;
    }
    .div_Add_email .search a{
        display: contents!important;
    }
}

@media (max-width:282px) {
   footer .div_Add_email .search input{
        width: 248px!important;
    }
}

@media (max-width:550px) {
    .header_sec .search input, footer .search input {
        padding: 20px 30px 15px 23px!important;
    }
}


@media (min-width:595px) and (max-width:610px) {
    .header_sec .bg_header {
       padding: 0px 73px;
     }
    .header_sec .bg_header , .experience_sec .bg_header{
        width: 100%!important;
       text-align: center;
       margin-top: 0;
    }
    .header_sec .w_600 , .experience_sec .w_600{
        text-align: center;
        margin-top: 20px;
    }
}

@media (min-width:767px) and (max-width:769px) {
    .header_sec .bg_header {
        width: 410px!important;
    }

    #home_page .rootMain {
        padding-right: 0!important;
        padding-left: 0!important;
    }

    .header_sec .search input{
        padding: 20px 0 15px 23px!important;
    }

    .experience_sec .bg_header{
        padding: 0;
        text-align: center;
        width: 290px!important;
        height: fit-content;
    }
    .experience_sec .bg_header img{
        width: 100%!important;
    }
    .experience_sec .pickChef{
        width: max-content!important;
    }

    .Experience_of_day .box{
        width: 240px!important;
        height: 240px!important;
    }

    .Experience_of_day .inner_descr_swiper_slide{
        flex-direction: column!important;
    }

    .Experience_of_day .star_box_food_1{
        padding: 0px 4px!important;
    }

    .Experience_of_day .star_box_food_2{
        right: 5px!important;
        padding: 2px 6px;
    }
    .cultures_sec .card{
        width: 148px!important;
        height: 148px!important;
    }

   .mealType__sec .media_600_bt{
        padding-right: 0!important;
    }

    .mealType__sec .width_full_768{
        width: 100%!important;
        padding-left: 0;
    }

    .mealType__sec .card{
        width: 166px!important;
        height: 166px!important;
    }
}

@media (max-width:737px) {
    .media_600_bt{
       justify-content: space-around!important;
   }
   .experience_sec .bg_header{
    text-align: center;
}

.Experience_of_day .swiper-button-prev , .Experience_of_day .swiper-button-next{
    transform: rotate(0deg)!important;
}
}

@media (min-width:798px) and (max-width:913px) {
    #home_page .rootMain {
        padding-right: 0!important;
        padding-left: 0!important;
    }

    .header_sec .bg_header {
        width: 375px!important;
    }
    .header_sec .search input{
        padding: 20px 0 15px 23px!important;
    }

    .experience_sec .bg_header{
        padding: 0;
        text-align: center;
        width: 290px!important;
        height: fit-content;
    }
    .experience_sec .bg_header img{
        width: 100%!important;
    }
    .experience_sec .pickChef{
        width: max-content!important;
    }


    .cultures_sec .px_800_812_0{
        padding: 0!important;
    }



    .Experience_of_day .box{
        width: 240px!important;
        height: 240px!important;
    }

    .Experience_of_day .inner_descr_swiper_slide{
        flex-direction: column!important;
    }

    .Experience_of_day .star_box_food_1{
        padding: 0px 4px!important;
    }

    .Experience_of_day .star_box_food_2{
        right: 5px!important;
        padding: 2px 6px;
    }
    .cultures_sec .card{
        width: 148px!important;
        height: 148px!important;
    }


    .mealType__sec .width_full_768{
        width: 100%!important;
        padding-left: 0;
    }

    .mealType__sec .card{
        width: 166px!important;
        height: 166px!important;
    }

    .header_sec .title_header br , .experience_sec .title_experience br{
        display: none !important ;
    }
}




.header_sec .search input:focus , footer .search input:focus{
    box-shadow: none;
    border: 1px solid black;
}

.header_sec .search i , footer .search i , .search_sec .search i{
    position: absolute;
    top: 13px;
    left: 16px;
    opacity: .8;
    font-size: 27px;
}

.header_sec .search a , footer .search a{
    position: absolute;
    top: -10px;
    right: -16px;
    width: 90px;
    height: 90px;
    /* background: var(--basicColor); */
    border-radius: 7px;
}
.header_sec .search a img{
    width: inherit;
}


/* CSS Modal Header */

.header_sec .btn-close{
    border-radius: 50%;
    /* padding: 10px; */
    opacity: 1!important;
    color: var(--basicColor)!important;
    font-weight: bolder;
    border: 1px solid var(--basicColor);
    background-image: none!important;
    padding: 7px 9px 13px 9px;
}

.header_sec .modal-header , .header_sec .modal-footer{
    border-bottom: 0;
    border-top: 0;
}

.header_sec .modal-footer button{
    padding: 10px 50px;
    transition: all 0.5s ease-in-out;
}

.header_sec .modal-footer button:hover , .add_comment_div button:hover {
    border: 1px solid var(--basicColor);
    color: var(--basicColor);
    background-color: var(--weightColor);

}

.header_sec #meal_type_select, .header_sec #Culture_select{
    border: 1px solid var(--basicColor);
    padding: 0 13px!important;
    height: 50px;
    background-image: url("data:image/svg+xml,%3csvg fill='rgb(125, 37, 245)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath  stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")!important;
    opacity: 1!important;
    color: var(--basicColor);
    padding-right: 33px!important;
}



.header_sec .modal-dialog{
    max-width: fit-content!important;
}

.header_sec .modal-content{
    border-radius: 25px;
    padding: 3px 15px!important;
}

/* <!-- End Header section =>(Home) -->   */

/* <!-- Start Experience section =>(Home) -->   */
.experience_sec{

}

.circle_steps{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--weightColor);
    text-align: center;
   box-shadow: 0 1.5px 0px 1px rgb(215, 215, 215);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: initial;
   margin-top: 15px;
}

.left_col_experience{
    padding-top: 80px;
}

.d_none_block_320{
    display: none!important;
}

@media (max-width:321px) {
    .d_none_block_320{
        display: block!important;
    }  
}

.circle_steps h4{
    padding: 12px;
    color :#100F0F;
    font-family: montserrat_ar;
}

.icon_right{
   color: var(--basicColor);
   font-weight: bold;
   font-size: 35px;
}

.title_experience{
    color: #100F0F;
    font-size: 25px;
}
/* <!-- End Experience section =>(Home) -->   */

/* <!-- Start Experience_of_day section =>(Home) -->   */
.Experience_of_day .box{
    width: 285px;
    height: 285px;
    background-color: var(--weightColor);
    color: var(--blackColor);
    font-family: montserrat_ar;
    box-shadow: 0 4px 8px 0px var(--basicColor);
    border-radius: 50%;
 }


  .Experience_of_day .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }

  @media (max-width: 760px) {
   .Experience_of_day  .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .Experience_of_day .swiper-slide{
        margin-right: 0!important;
        margin-right: 0!important;
        margin-right: 0!important;
        margin-right: 0!important;
        margin-right: 0!important;
    }
  }

  @media (max-width: 602px) { 
     .Experience_of_day .swiper-slide{
         margin-right: 0!important;
         margin-right: 0!important;
         padding-right: 0!important;
     }
   }

 .Experience_of_day .swiper-slide{
    margin-bottom: 10px;
 }

 .Experience_of_day .inner_box_swiper , .detailsFood_sec .inner_box_swiper{
    background-color: var(--weightColor);
    padding: 8px;
    padding-bottom: 23px;
    border-radius: 12px;
    box-shadow: 0 3px 12px -4px var(--grayColor);
    width: 48%;
 }

 .Experience_of_day .inner_box_swiper figure img , .foodBox_sec .inner_box_swiper figure img , .detailsFood_sec .inner_box_swiper figure img{
    border-radius: 12px;
    width: 100%;
 }

 .descr_swiper_slide{
    text-align: left;
 }

 .descr_swiper_slide button{
   border-radius: 5px;
   color: var(--blackColor);
   font-family: monospace;
   letter-spacing: 0px;
   padding: 5px 6px;
 }

 .swiper-button-next:after, .swiper-button-prev:after{
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 24px!important;
    background-color: var(--basicColor);
    color: var(--weightColor);
 }

 .inner_descr_swiper_slide h6 , .foodBox_sec .inner_descr_swiper_slide h6{
    color: var(--blackColor);
    font-family: monospace;
 }

 .descr_swiper_slide span{
    opacity: 0.7;
    font-size: 16px;
    color: var(--blackColor);
 }
 
 .inner_descr_swiper_slide button{
   background-color: #d9bffc;
   color: #100F0F;
  transition: all 0.4s ease-in-out ; 
}

 .inner_descr_swiper_slide button:hover{
    color: var(--basicColor);
    border: 1px solid var(--basicColor);
  }

 .Experience_of_day .inner_box_swiper i , .foodBox_sec .inner_descr_swiper_slide i{
   color: green;
   font-size: 18px;
 } 

 .star_box_food_1{
     background-color: #cbb3f6!important;
     border-radius: 11px; 
     left: 11px;
     top: 11px;
     padding: 5px 10px;
}

.star_box_food_1 span{
   color: #000;
   font-family: montserrat_ar;
}

.star_box_food_1 i {
    color: yellow!important;
}

.star_box_food_2{
    background-color: var(--weightColor);
    border-radius: 50%; 
    right: 35px;
    top: 11px;
    padding: 8px 11px;
    font-size: 16px;
    color: #000!important;
}

.star_box_food_2 i{
    color: #000!important;
}

 /* <!-- End Experience_of_day section =>(Home) -->   */
 

/* <!-- Start Cultures section =>(Home) -->   */
.cultures_sec .card{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #f2e8fe;
    color: var(--basicColor);
    font-family: montserrat_ar ;
    cursor: pointer;
}

@media (max-width: 767px) {
    .cultures_sec .carousel-inner .carousel-item > div {
        display: none;
    }
    .cultures_sec .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.cultures_sec .carousel-inner .carousel-item.active,
.cultures_sec .carousel-inner .carousel-item-next,
.cultures_sec .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .cultures_sec .carousel-inner .carousel-item-end.active,
    .cultures_sec .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .cultures_sec .carousel-inner .carousel-item-start.active, 
    .cultures_sec .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.cultures_sec .carousel-inner .carousel-item-end,
.cultures_sec .carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

/* <!-- End Cultures section =>(Home) -->   */

/* <!-- Start Meal Type section =>(Home) -->   */
.title_mealType , .title_cultures , .mealType__sec h6{
    font-family: montserrat_ar;
}

.mealType__sec .card {
    width: 200px;
    height: 180px;
    border: 1px solid var(--basicColor);
    border-radius: 35px; 
    box-shadow: 0 0 20px -10px var(--basicColor);  
    transition: all 0.5s ease-in-out;
}

.mealType__sec .card:hover  {
   background-color: var(--basicColor);
   color: var(--weightColor);
}

.mealType__sec .card:hover .icon_mealType {
    color: var(--weightColor); 
 }

.mealType__sec .card i{
    font-size: 75px;
    color: var(--basicColor);
}

.mealType__sec h6{
  
}




@media (min-width:590px) and  (max-width:610px)  {
    .media_600_bt{
         justify-content: space-between!important;
    }
}

@media (min-width:765px) and (max-width:780px)  {
    .cultures_sec .container , .mealType__sec .container{
        max-width: 100%!important;
        padding-left: 0!important;
    }
    .mealType__sec .container > div{
        margin: auto!important;
    }
}

@media (min-width:590px) and  (max-width:610px)  {
    .media_600_bt{
         justify-content: space-between!important;
    }
}
/* <!-- End Meal Type section =>(Home) -->   */

/* <!-- Start Food Box section =>(Home) -->   */
#home .foodBox_sec{
    background-color: #f3ebfe;
}

.foodBox_sec .card{
    border-radius: 20px;
    box-shadow: 0 5px 15px -3px var(--grayColor);
}

.foodBox_sec .col-md-3 , .foodBox_sec .col-md-3 .card{
    display: none;
}

.foodBox_sec .carousel-indicators{
    bottom: -40px;
}

.foodBox_sec .carousel-indicators li{
    width: 30px!important;
    height: 31px!important;
    border-radius: 50%!important;
    text-indent: unset!important;
    display: flex!important;
    background-color: var(--basicColor)!important;
}

.foodBox_sec .carousel-indicators li i{
    font-size: larger;
    color: var(--weightColor);
}

/* <!-- End Food Box section =>(Home) -->   */


/* <!-- Start Questions section =>(Home) -->   */
.question_sec .accordion-button{
 background-color: #eadcfd;
    color: #100F0F;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'montserrat_ar';
}

.accordion-button::after{
    background-image: url(../images/x-icon/iconsbottom.png)!important;
    scale: 1.5;
}

@media (max-width:414px) {
    .accordion-button{
        padding: 11px!important;
        font-size: 13px!important;
    }
    footer .search i {
       display: none!important;
    }
}

.question_sec .accordion-item{
    border: 0!important;
    margin: 13px 0px;
}

 .question_sec .accordion-collapse{
     text-align: left;
}

.question_sec .accordion-body{
    color: #100F0F;
    font-family: montserrat_en;
    font-size: 20px;
    letter-spacing: 0px;
    padding-left: 6px;
    padding-top: 6px;
}

@media (max-width:415px) {
    
    .question_sec .accordion-button{
        font-size: 15px;
    }

    .question_sec .accordion-body{
        padding: 0;
        padding-left: 6px;
        font-size: 14px;
        padding-top: 6px;
    } 
    .p__0_sm{
        padding: 0!important;
    }
}

.accordion-button:not(.collapsed)::after{
    color: var(--basicColor)!important;
}

.hide-after::after{
  position: absolute;
  left: 10px;
}
.display_none::after{
    display: none!important;
}


/* <!-- End Questions section =>(Home) -->   */

/* <!-- Start Footer section =>(Home) -->   */
footer{
    background-color: #000;
    margin-top: 200px;
    padding-top: 400px;
}
.add_email_Sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_Add_email{ 
  background-color: #7D25F5;
  border-radius: 22px;
  margin: auto;
  color: var(--weightColor);
  height: 270px;
}

footer .search{
    border-radius: 35px;
}

 footer .search input{
    border-radius: 35px;
    width: 480px!important;
    height: 63px;
    border: 0;
    color: #707070dd!important;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 38px;
}


footer .search input:focus{
    border: 0;
}

footer .search a {
    position: absolute;
    top: 8px;
    right: 35px;
}

footer .search a button{
    width: 117px;
    height: 47px;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

footer .search a button:hover , .detailsFood_sec .btn_book_now:hover , .back_home:hover{
  border: 1px solid var(--basicColor);
  color: var(--basicColor)!important;
}

.content_footer{
    margin-top: 200px;
}

.content_footer > .row {
   width: inherit!important;
   margin-left: 0!important;
   margin-right: 0!important;
}

.clr_li_footer{
    color: #a5a5a5;
    padding: 8px 0;
}

footer .margin_r{
 margin-right: 25px;
}

footer .hr_line{
    padding: 1.5px;
    margin-top: 0px;
    background-color: gray;
}

@media (min-width:320px) and  (max-width:550px) {
     .div_Add_email h3 {
        font-size: larger!important;
      }

      .div_Add_email p{
        font-size: smaller;
      }
      .div_Add_email .search a{
        top: 75px;
        right: 40%;
      }
      .div_Add_email .search a button{
         background-color: var(--weightColor);
         color: var(--basicColor);
      }
    footer  .div_Add_email .search input{
        width: 280px!important;
        font-size: small;
      }
}

@media (max-width:321px) {
   footer .div_Add_email .search input{
        width: 260px!important;
        height: 50px;
        padding: 20px 8px 15px 23px!important;
      }
}
/* <!-- End Footer section =>(Home) -->   */


/* ================              =================== */
/* ================  About Us Page  =================== */
/* ================              =================== */
.aboutUs_sec img.img_aboutUs{
  width: fit-content;
  height: 400px;
}

.aboutUs_sec .parg_aboutUs{
    font-family: montserrat_en;
    line-height: 2;
    text-align: initial;
}

#aboutUs .rootMain {
    width: 96%!important;
}


.aboutUs_sec .ar_img_whoAre_we{
    display: none;
}

.bookingNow_sec .ar_img_homeCalender{
    display: none!important;
}

@media (max-width:991px)  {
    .bookingNow_sec .ar_img_homeCalender , .bookingNow_sec .en_img_homeCalender{
        display: none!important;
    }
}

@media (min-width:910px)  {
    .aboutUs_sec .description_aboutUs div{
        padding-right: 65px!important;
    }
}

@media (min-width:910px) and (max-width:913px) {
    .aboutUs_sec .ar_img_whoAre_we, .ar_img_homeCalender{
        margin-top: 40px!important;
    }
  
}

@media (max-width:913px) {
     #aboutUs .rootMain {
        padding-right: 0!important;
        padding-left: 0!important;
     }
      
    .aboutUs_sec .parg_aboutUs{
        /* padding-right: 30px!important; */
    }
}

@media (max-width:415px) {
    .aboutUs_sec img.img_aboutUs {
        width: inherit!important;
        height: 280px;
    }
}

/* @media (min-width:767px) {
    .aboutUs_sec img.img_aboutUs{
        width: 92%!important;
     }   
} */

@media (min-width:768px) and (max-width:913px) {
    
    .flex_column_820{
        flex-direction: column!important;
    }
    .flex_column_reverse_820 div , .flex_column_820 div{
        width: inherit!important;
    }

  
}


/* ================              =================== */
/* ================  Search Page  =================== */
/* ================              =================== */
/* Start Section Search */

.search_sec .search input{
  background-color: var(--basicColor);
  padding: 21px 12px 15px 26px;
  font-family: montserrat_en;
  letter-spacing: 1.3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 16px;
  border: 0;
}


.search_sec .search  i , .search_sec .search input::placeholder , .search_sec .search input {
    opacity: 1;
    color: var(--weightColor)!important;
}

.search_sec .search i{
    left: 9px!important;
}

.search_sec .search_sec .search input::placeholder{
  letter-spacing: 0.2px;
  opacity: 0.8;
}

.parentSelectSearch{
    box-shadow: 0 3px 11px -5px var(--grayColor);
    border-radius:8px ;
    border-radius:8px ;
}

#meal_type_select , #Culture_select{
    height: 60px;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    transition: all .4s ease-in-out;
}

/* ================              =================== */
/* ================  Details Food Page  ============ */
/* ================              =================== */
 /* <!-- start Details Food Section --> */
 #detailsFood .rootMain{
   width: 100vw!important;
}

 .detailsFood_sec figure img{
    height: 100%;
}

 .detailsFood_sec .inner_box_swiper{
    background-color: var(--weightColor);
    padding: 0px;
    padding-bottom: 0;
    box-shadow: 0 3px 12px -4px var(--grayColor);
}

.detailsFood_sec .inner_box_swiper .star_box_food_2 i{
 color: var(--basicColor)!important;
}

.detailsFood_sec .swiper-button-next.swiper-button-disabled,.detailsFood_sec .swiper-button-prev.swiper-button-disabled ,.detailsFood_sec .swiper-button-next,.detailsFood_sec .swiper-rtl .swiper-button-prev ,.detailsFood_sec .swiper-button-prev,.detailsFood_sec .swiper-rtl .swiper-button-next{
    top: 50%!important;
}

.detailsFood_sec .swiper-button-next:after,.detailsFood_sec .swiper-button-prev:after{
    color: var(--basicColor);
    font-size: 45px!important;
    background-color: transparent;
}

.detailsFood_sec #quantity{
    /* width: 120px!important; */
    /* margin-right: 28px; */
}

.detailsFood_sec .circle_right_gray{
    position: absolute;
    top: -20px;
    right: -320px;
    width: 350px;
    height: 100%;
    border-radius: 50%;
    background-color: #e8d8fe;
}

.text_start{
    text-align: start!important;
}

.detailsFood_sec .title_food , .detailsFood_sec .number_request{
    color: #100F0F;
    font-family: Mongolian;
}

.detailsFood_sec .price_food {
    font-family: montserrat_ar;
}

.detailsFood_sec .div_Message{
 background-color: var(--weightColor);
 box-shadow: 0 2px 5px 0px var(--grayColor);
 width: fit-content;
}

.detailsFood_sec .div_Message span:nth-child(1) i{
    width: 66px;
    height: 66px;
    display: block;
    border: 1px solid gray;
    padding-top: inherit;
}

.detailsFood_sec .div_Message span:nth-child(2){
  font-family: Mongolian;
}

.detailsFood_sec .quantity-box , .btn_book_now , .bookingNow_sec .quantity-box{
    position: relative;
    border: 1.5px solid #AAAAAA;
    border-radius: 3px;
    height: 52px;
    transition: all 0.5s ease-in-out;
}

.detailsFood_sec .quantity-box , .bookingNow_sec .quantity-box{
    width: 115px;
}

.detailsFood_sec .quantity-input , .bookingNow_sec .quantity-input {
    text-align: center;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    height: 100%;
    
}

.detailsFood_sec .quantity-button , .bookingNow_sec .quantity-button {
    position: absolute;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    background: none;
}

.detailsFood_sec .quantity-button:nth-child(1) ,  .bookingNow_sec .quantity-button:nth-child(1) {
    top: 14px;
}

.detailsFood_sec .quantity-button:nth-child(3) ,  .bookingNow_sec .quantity-button:nth-child(3) {
    top: 14px;
    right: 0;
}


.detailsFood_sec .circle_right_gray_1{
    position: absolute;
    top: -30px;
    right: -445px;
    height: 100%;
    width: 560px;
    border-radius: 50%;
    background-color: #e8d8fe;
    z-index:-99 ;
}

.detailsFood_sec .circle_right_gray_2{
    position: absolute;
    top: -30px;
    right: -425px;
    height: 100%;
    width: 560px;
    border-radius: 50%;
    background-color: #f0e6fe;
    z-index:-999 ;
}

.detailsFood_sec .circle_right_gray_3{
    position: absolute;
    top: -30px;
    right: -405px;
    height: 100%;
    width: 560px;
    border-radius: 50%;
    background-color: #f6efff;
    z-index:-9999 ;
}

.alsoServe_sec  .star_box_food_2 , .detailsFood_sec .star_box_food_2{
   right: 5px!important;
}

@media (min-width:1020px) {
     .rootMain{
         padding: 0!important;
     }
     .detailsFood_sec .inner_box_swiper figure img{
        height: 450px!important;
     }
}

/* <!-- Start ingredient Food Section --> */
.ingredientFood_sec{
    position: relative;
}


.ingredientFood_sec .padding_style p ,.ingredientFood_sec .padding_style h4{
    font-family: 'montserrat_en';
}

.ingredientFood_sec .padding_style p{
    font-weight: 100;
    line-height: 1.7;
}

@media (width:820px) {
    #privacyPolicy .rootMain{
       padding-right: 0!important;
       padding-left: 0!important;
       margin-right: 0!important;
       margin-right: 0!important;
    }

    #privacyPolicy .w_100_767_769{
        width: 100%!important;
    }

}

@media (min-width:819px) and (max-width:913px){
    .onlineReview_sec .bg_img_review {
        top: 133px!important;
        width: 406px!important;
    }

    /* .mealType__sec .media_600_bt{
        padding-right: 0!important;
     } */


}

@media (min-width:767px) and (max-width:913px){
    .ingredientFood_sec .padding_style{
        width: 100%!important;
    }

    .ingredientFood_sec .parentCircle .circle_load_border , .ingredientFood_sec .parentCircle .circle_load_blue{
        display: none!important;
    }

    .ingredientFood_sec .padding_style p, .ingredientFood_sec .padding_style h4{
        color: #000!important;
        font-weight: 600;
    }

    .ingredientFood_sec  .h_555px {
       height: inherit!important;
    }
    .ingredientFood_sec{
        margin-top: 0!important;
        padding-top: 0!important;
    }
    /* .mealType__sec .media_600_bt{
        padding-right: 0!important;
     } */


}


@media (width:540px){
    .ingredientFood_sec .padding_style{
        padding-top: 88px!important;
        width: 84%!important;
    }
    .box_checkbox_2 .leftPart_box svg{
        display: none!important;
    }
}


@media (min-width:767px) and (max-width:769px) {
   
    .padding_style p{
        padding-right: 20px!important;
    }
     .px_0_md{
        padding-left: 0!important;
        padding-right: 0!important;
    }

    #privacyPolicy .rootMain{
       padding-right: 0!important;
       padding-left: 0!important;
       margin-right: 0!important;
       margin-left: 0!important;
    }

    #privacyPolicy .w_100_767_769 ,.onlineReview_sec .w_100_767_769{
        width: 100%!important;
    }
    
}

@media (min-width:820px) and (max-width:1180px) {
     .px_0_md{
        padding-left: 0!important;
        padding-right: 0!important;
    }
}



.ingredientFood_sec .parentCircle .circle_load_border{
    position: absolute;
    top: 5px;
    left: -30px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    z-index: -9999;  background-color: var(--weightColor);
    border: 1px solid var(--basicColor);
}

.ingredientFood_sec .parentCircle .circle_load_blue{
    position: absolute;
    top: 0;
    left: -70px;
    width: 558px;
    height: 558px;
    background-color: var(--basicColor);
    border-radius: 50%;
    z-index: -999;
    padding-top: 100px;
}

.ingredientFood_sec .parentCircle .circle_load_blue{
    padding: 0 58px;
}

@media (min-width:765px) and (max-width:769px) {
    .ingredientFood_sec .parentCircle .circle_load_blue{
        left: -15px;
    }
   .ingredientFood_sec .padding_style{
        padding-left: 70px!important;
    }
}


@media (max-width:415px) {
    .ingredientFood_sec .padding_style{
        width: 100%!important;
        padding-left: 3px!important;
        padding-right: 3px!important;
    }

    .ingredientFood_sec .h_555px{
        height: auto!important;
    }

    .ingredientFood_sec .parentCircle .circle_load_blue , .ingredientFood_sec .parentCircle .circle_load_border {
        display: none !important;
    }

   .ingredientFood_sec .padding_style h4{
        font-weight: bolder;
        color: var(--basicColor)!important;
    }

   .ingredientFood_sec .padding_style p{
        color: black!important;
    }

}

@media (min-width:590px) and (max-width:610px) {
   .ingredientFood_sec .padding_style{
        padding-top: 100px;
    }
}

@media (max-width:415px) {
    .ingredientFood_sec .circle_load_blue p{
        width: 65%;
        padding: 0 8px!important;
    } 
}

.ingredientFood_sec .ingredientTable{
    box-shadow: 0 1px 8px -2px var(--grayColor);
    width: 75%;
}

@media (max-width:1080px) {
    .ingredientFood_sec .ingredientTable{
        width: 100%;
    } 
}

@media (min-width:1023px) and (max-width:1025px) {
    .ingredientFood_sec .ingredientTable{
        width: 95%!important;
    }
}


.ingredientFood_sec .h_555px{
    height: 555px;
}

.ingredientFood_sec .ingredientTable .head_table{
letter-spacing: 1.4px;
}

.ingredientFood_sec .ingredientTable tr{
    line-height: 2;
}

.ingredientFood_sec table tbody ,.ingredientFood_sec td ,.ingredientFood_sec tfoot ,.ingredientFood_sec th ,.ingredientFood_sec thead , tr{
    border-style: none;
}

.ingredientFood_sec .ingredientTable tr th{
    letter-spacing: 1.6;
}

.ingredientFood_sec .ingredientTable tr th:nth-child(1){
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
}

.ingredientFood_sec .ingredientTable tr th:nth-child(2){
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
}


/* <!-- End ingredient Food Section --> */





/* <!-- Start Online Review Section --> */

.onlineReview_sec{
   margin-bottom: 130px!important;
}

.onlineReview_sec > div{
    /* width: 100%!important; */
}

@media (max-width:769px) {
    .onlineReview_sec{
        margin-bottom: 0!important;
     }
}

.onlineReview_sec .box_reviw{
    box-shadow: 0 1px 5px -2px var(--grayColor);
   border-radius: 2px;
   text-align: center;
 }



.onlineReview_sec .name_review , .onlineReview_sec .desc_review{
    font-family: montserrat_ar;
 }

.onlineReview_sec .desc_review{
    color: #060606;
    font-size: 16px;
}

.onlineReview_sec .name_review{
    color: #2ACF9B;
 }

 .onlineReview_sec .box_reviw:nth-child(1) , .onlineReview_sec .box_reviw:nth-child(2){
    /* margin-left: 20px; */
 }




 .onlineReview_sec .bg_img_review {
    background-image: url(../images/online_review/Online_Review.svg);
    top: 42px;
    right: 0px;
    width: 460px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0!important;
    position: absolute;
}

.onlineReview_sec .ar_bg_img_review {
    background-image: url(../images/online_review/ar_Online_Review.svg);
    position: absolute;
    top: 42px;
    left: 0px;
    width: 460px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px!important;
    display: none;
}

.onlineReview_sec .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 3px;
}
.onlineReview_sec .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled ,.onlineReview_sec .swiper-button-next, .swiper-rtl .swiper-button-prev{
    /* right: 2px; */
}

.onlineReview_sec .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1!important;
}

.onlineReview_sec .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after , .onlineReview_sec .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
   font-size: 17px!important;
}

@media (max-width:600px) {
    .onlineReview_sec{
        /* padding-right: 22px; */
    }
}


@media (min-width:610px) and (max-width:769px) {
   #detailsFood .rootMain{
        /* padding-right: 0px!important; */
    }
     .onlineReview_sec .bg_img_review ,.onlineReview_sec .ar_bg_img_review{
        background-image: none;
     }
}

/* <!-- End Online Review Section --> */


/* <!-- Start (Also Serve ) section =>(Home) -->   */
.alsoServe_sec .title_alsoServe svg:nth-child(1){
        transform: rotate(31deg);
        margin-right: -23px;
}

.alsoServe_sec .title_alsoServe svg:nth-child(2){
        transform: rotate(-31deg);
        margin-left: -23px;
}
@media (min-width:767px) and (max-width:1081px) {
      .alsoServe_sec  div .p_left_0{
           width: 100%!important;
      }
}

@media (max-width:376px) {
    .alsoServe_sec .title_alsoServe{
        font-size: 19px!important;
        padding: 0 15px 0 0;
    }

    .alsoServe_sec .p_left_0{
        /* padding-left: 0; */
    }
}
/* <!-- End (Also Serve ) section =>(Home) -->   */

 /* <!-- End Details Food Section --> */


/* ================              =================== */
/* ================  Service and Privacy Policy  ============ */
/* ================              =================== */
/* <!-- Start Service and Privacy Policy section -->   */
.privacyPolicy_sec p , .privacyPolicy_sec li{
    color: black;
}

#privacyPolicy .circle_load_left{
    width: 600px;
    height: 600px;
    z-index: -999;
    top: -280px;
    left: -200px;
}

.privacyPolicy_sec ul{
 list-style: auto;
 padding-left: 17px!important;
 margin-right: 17px;
}
/* <!-- End Service and Privacy Policy section -->   */

.detailsFood_sec .swiper-slide-active ,.onlineReview_sec .swiper-slide-active{
    margin-right: 0!important;
}

/* ================              =================== */
/* ================  Booking Now Page  ============ */
/* ================              =================== */
/* <!-- Start Booking Now Section --> */

.bookingNow_sec .calendar {
    width: 403px;
    margin: 0 auto;
}

.bookingNow_sec .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}
.bookingNow_sec .calendar-day {
    position: relative;
    text-align: center;
    padding: 5px 11px 0 11px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px;
    color: var(--basicColor);
}

.bookingNow_sec .calendar-day.selected_day{
    background-color: #cba8fb;
    color: #263238;
    height: 32px;
    margin-top: 4px;
}

.bookingNow_sec .calendar-day.booked {
    background-color: #EBEBEB;
    color: #263238;
    font-weight: 400;
    padding: 5px;
    margin: 3px;
}

.bookingNow_sec .calendar-day.selected {
    background-color: #cba8fb;
    color: #263238;
}


.bookingNow_sec .nameDays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.bookingNow_sec .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 37, 245, 0.5);
    display: none;
}

.bookingNow_sec .overlay.active {
    display: block;
}

.bookingNow_sec .calendar-selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.bookingNow_sec #monthSelect,.bookingNow_sec #yearSelect {
    padding: 5px;
    font-weight: bold;
}

.bookingNow_sec .form-check-input:checked {
    background-color: var(--basicColor);
    border-color: var(--basicColor);
}

@media (max-width:415px) {
    .bookingNow_sec .w_sm_100{
        width: 100%!important;
    }
    .bookingNow_sec .calendar{
        width: inherit;
    }
    .bookingNow_sec .img_calender{
        width: -webkit-fill-available;
    }
}

.bookingNow_sec .circle_bookNow_1{
        position: absolute;
        top: -10px;
        right: -315px;
        height: 575px;
        width: 680px;
        background-color: #ebdefe;
        border-radius: 50%;
        z-index: -99;
}

.bookingNow_sec .circle_bookNow_2{
    position: absolute;
    top: -14px;
    right: -285px;
    height: 575px;
    width: 690px;
    border-radius: 50%;
    background-color: #f4ecfc;
    z-index: -999;
}

.bookingNow_sec .circle_bookNow_3{
    position: absolute;
    top: -18px;
    right: -265px;
    height: 575px;
    width: 700px;
    border-radius: 50%;
    z-index: -9999;
    background-color: #faf6ff;
}

.bookingNow_sec .hr_line{
    height: 2px;
    background-color: #263238;
}

.bookingNow_sec .right_img{
    height: -webkit-fill-available;
    margin-bottom: -130px;
}


.booking_hours{
    display: none;
}

/* <!-- start radio (Dine in - Pick up - Out door ) --> */
.radio_div_select{
   z-index: 995;
 }

.radio_div_select label , .radio_div_select input{
    color: #100F0F;
    font-weight: bold;
    cursor: pointer;
}

.radio_div_select label{
    padding: 0 5px;
}


@media (max-width:1025px) {
     .radio_div_select_d_p_o{
        width: 91%!important;
        padding-left: 11px;
     }
}


@media (min-width:1075px) and (max-width:1081px) {
    .radio_div_select_d_p_o{
       padding: 0!important;
    }
}

@media (min-width:766px) and (max-width:769px) {
    .radio_div_select_d_p_o{
        margin-top: 120px!important;
    }
}

/* <!-- End radio (Dine in - Pick up - Out door ) --> */


/* <!--Start Div Number of guests --> */
.box_checkbox_2  , .box_checkbox_1{
   background-color: #cfc7da;
   box-shadow: 0 2px 7px -2px var(--basicColor);
   border-radius: 16px;
}

.box_checkbox_1 img{
    width: fit-content;
    margin-left: -100px;
    position: absolute;
    top: -48px;
    left: -17px!important;
    height: 241px;
    margin-left: -100px;
}

@media (max-width:415px) {
    .box_checkbox_1 img{
             display: none!important;
     }
     .box_checkbox_1 .ml_box{
          margin-left: 0!important;
     }
     .box_checkbox_2 .leftPart_box svg{
        display: none!important;
     }
}

@media (min-width:590px) and (max-width:610px) {
    .box_checkbox_2 .leftPart_box svg {
        margin-left: -42px!important;
    }
}



.box_checkbox_1 .ml_box{
    margin-left: 60px;
}

.rightPart_box .form-outline label{
    color: #100F0F;
    font-family: Mongolian;
}

.bookingNow_sec .rightPart_box h5{
    font-family: Mongolian ;
    font-weight: bolder;
    padding-top: 13px;
}

.bookingNow_sec .rightPart_box .quantity-box{
  border: none;
}

.bookingNow_sec .rightPart_box .quantity-input{
     height: 70%!important;
     border: 1px solid var(--basicColor);
}

.bookingNow_sec .quantity-button:nth-child(1) , .bookingNow_sec .quantity-button:nth-child(3){
    top: 8px!important;
}

.box_checkbox_2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.box_checkbox_2 .leftPart_box svg {
    margin-left: -150px;
    margin-bottom: -18px;
}

@media (min-width:1023px) and (max-width:1281px) {
    .box_checkbox_2 .leftPart_box svg{
       opacity: 0.6;
    }
}

@media (min-width:359px) and (max-width:376px) {
    .p_0_375{
       padding: 0!important;
    }
}


@media (max-width:321px) {
    .bookingNow_sec .nameDays  .calendar-day{
        padding: 5px 9px 0 11px!important;
    }
    .bookingNow_sec .img_calender{
        width:260px!important;
    }
    .p_0_375{
        padding: 0!important;
    }

    .radio_div_select_d_p_o{
        width: 100%!important;
    }

    .radio_div_select:nth-child(2){
        margin-right: 0!important;
    }
}

.box_checkbox_2 .leftPart_box svg{
    opacity: 0.7;
    z-index: -10;
}

.box_checkbox_2  .rightPart_box {
    z-index: 10;
}

.box_checkbox_2 .form-check-label{
    color :#100F0F;
    font-family: system-ui;
    letter-spacing: 0.8px;
}

.box_checkbox_2 p{
    color: #707070;
    font-size: small;
    line-height: 2;
}

.box_checkbox_2 .form-check-input[type=checkbox] {
    border-radius: 5px!important;
    padding: 10px;
    border: 1px solid var(--basicColor);
}

/* <!--End Div Number of guests --> */


/* <!-- Start Div Add Comment (Booking Now) --> */
.bookingNow_sec textarea:focus{
   box-shadow: none;
   border: 1px solid var(--basicColor);
}

.bookingNow_sec textarea{
    resize: none;
    box-shadow:0 2px 7px -2px var(--grayColor);
    border: 1px solid var(--basicColor);
    padding: 18px;
}

.add_comment_div button{
   font-family: montserrat_ar;
   transition: all 0.5s ease-in-out;
}

@media (max-width:415px) {
  .add_comment_div .form-outline{
    width: 100%!important;
  }
}

@media (max-width:325px) {
     .add_comment_div .title_mealType h5 {
        font-size: large;
    }
}

@media (max-width:375px) {
    .add_comment_div .form-outline{
        width: 100%!important;
   }
}
/* <!-- End Div Add Comment (Booking Now) --> */

/* <!-- End Booking Now Section --> */


/* ================              =================== */
/* ================  Details Food Page  ============ */
/* ================              =================== */
 


  /*  Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
  
  }
 
 /*  Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 
   
  }
 
 /*  Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) { 
   
  }
 
 /*  Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) { 
   
  }
 
 /*  Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) { 
   
  }  
 
 




















